<paper-scroll-header-panel condenses>
  <paper-toolbar class='tall'>
    <div class='toolbar-tools paper-toolbar top'>

    </div>
    <div class='toolbar-tools paper-toolbar bottom'>
      <div id='title' class='title'>
        Polymer Examples
      </div>
    </div>
  </paper-toolbar>
  <div id="page-content" style="height: 2000px">
    {{page data.page}}
  </div>
</paper-scroll-header-panel>
