doctype html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    // STYLES
    link(rel="stylesheet", href="/styles/application.css")
    link(rel="stylesheet", href="/styles/colors.css")
    link(rel="stylesheet", href="/styles/components/button/icon.css")
    link(rel="stylesheet", href="/styles/components/card/main.css")
    link(rel="stylesheet", href="/styles/components/general.css")
    link(rel="stylesheet", href="/styles/components/general/slider.css")
    link(rel="stylesheet", href="/styles/components/text/main.css")
    link(rel="stylesheet", href="/styles/components/toast/main.css")
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/theme.css")
    // STYLES END

  body

    h1 Uh oh... 500
