doctype html
html
  head
    link(rel="stylesheet", href="https://code.getmdl.io/1.1.2/material.blue_grey-orange.min.css")
    // STYLES
    link(rel="stylesheet", href="/styles/application.css")
    link(rel="stylesheet", href="/styles/components/button/icon.css")
    link(rel="stylesheet", href="/styles/components/card/main.css")
    link(rel="stylesheet", href="/styles/components/general.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

    // DEPENDENCIES
    script(src="/js/dependencies/core/jquery/jquery.min.js")
    script(src="/js/dependencies/core/handlebars/handlebars.js")
    script(src="/js/dependencies/core/underscore/underscore.js")
    script(src="/js/dependencies/core/backbone/backbone.js")
    script(src="/js/dependencies/core/webcomponentsjs/webcomponents.js")
    script(src="/js/dependencies/sails.io.js")
    // END DEPENDENCIES
    
    // TEMPLATES
    script(type="text/javascript", src="/templates/components/button/main.js")
    script(type="text/javascript", src="/templates/components/card/main.js")
    script(type="text/javascript", src="/templates/components/general/item.js")
    script(type="text/javascript", src="/templates/components/general/menu.js")
    script(type="text/javascript", src="/templates/components/text/area.js")
    script(type="text/javascript", src="/templates/components/text/input.js")
    script(type="text/javascript", src="/templates/components/toggles/checkbox.js")
    script(type="text/javascript", src="/templates/components/toggles/radio.js")
    script(type="text/javascript", src="/templates/components/toggles/switch.js")
    script(type="text/javascript", src="/templates/layouts/main.js")
    script(type="text/javascript", src="/templates/pages/buttons.js")
    script(type="text/javascript", src="/templates/pages/home.js")
    script(type="text/javascript", src="/templates/pages/selection.js")
    script(type="text/javascript", src="/templates/pages/test.js")
    script(type="text/javascript", src="/templates/pages/text.js")
    script(type="text/javascript", src="/templates/pages/toggles.js")
    script(type="text/javascript", src="/templates/views/home/card/footer.js")
    script(type="text/javascript", src="/templates/views/selection/item/item_view_1.js")
    script(type="text/javascript", src="/templates/views/selection/item/item_view_2.js")
    // TEMPLATES END

    // SCRIPTS
    script(src="/vendor/moment/moment.js")
    script(src="/vendor/web-animations-js/web-animations.min.js")
    script(src="/js/libs/collection.js")
    script(src="/js/libs/handlebars_helpers.js")
    script(src="/js/libs/model.js")
    script(src="/js/libs/view.js")
    script(src="/js/application/application.js")
    script(src="/js/application/init.js")
    script(src="/js/application/components/button/fab.js")
    script(src="/js/application/components/button/icon.js")
    script(src="/js/application/components/button/main.js")
    script(src="/js/application/components/card/main.js")
    script(src="/js/application/components/general/item.js")
    script(src="/js/application/components/general/menu.js")
    script(src="/js/application/components/text/area.js")
    script(src="/js/application/components/text/input.js")
    script(src="/js/application/components/toggles/checkbox.js")
    script(src="/js/application/components/toggles/radio.js")
    script(src="/js/application/components/toggles/switch.js")
    script(src="/js/application/layouts/main.js")
    script(src="/js/application/pages/buttons.js")
    script(src="/js/application/pages/home.js")
    script(src="/js/application/pages/selection.js")
    script(src="/js/application/pages/test.js")
    script(src="/js/application/pages/text.js")
    script(src="/js/application/pages/toggles.js")
    script(src="/js/application/views/home/card/footer.js")
    script(src="/js/application/views/selection/item/item_view_1.js")
    script(src="/js/application/views/selection/item/item_view_2.js")
    // SCRIPTS END
    
    // WEB COMPONENTS
    link(rel="import", href="/vendor/polymer/polymer.html")
    link(rel="import", href="/vendor/iron-icon/iron-icon.html")
    link(rel="import", href="/vendor/iron-icons/communication-icons.html")
    link(rel="import", href="/vendor/iron-icons/device-icons.html")
    link(rel="import", href="/vendor/iron-icons/editor-icons.html")
    link(rel="import", href="/vendor/iron-icons/hardware-icons.html")
    link(rel="import", href="/vendor/iron-icons/image-icons.html")
    link(rel="import", href="/vendor/iron-icons/iron-icons.html")
    link(rel="import", href="/vendor/iron-icons/maps-icons.html")
    link(rel="import", href="/vendor/iron-icons/notification-icons.html")
    link(rel="import", href="/vendor/iron-icons/places-icons.html")
    link(rel="import", href="/vendor/iron-icons/social-icons.html")
    link(rel="import", href="/vendor/iron-flex-layout/iron-flex-layout.html")
    link(rel="import", href="/vendor/iron-flex-layout/iron-flex-layout-classes.html")
    // WEB COMPONENTS END
  body
    #main-content(page-name='#{page}',style='height: 100%')
    
    script.
      App.setPage();
      
