doctype html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    // STYLES
    // STYLES END

  body
    #page

    // DEPENDENCIES
    // END DEPENDENCIES

    // TEMPLATES
    // TEMPLATES END

    // SCRIPTS
    // SCRIPTS END
