<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Buttons
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--2-col'>
    {{view 'components/button/main' data=components.one}}
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/icon' data=components.icon}}
  </div>
</div>
