<h2>
  Home
</h2>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--3-col'>
    <paper-input label='First Name' pattern="-?[A-z,a-z'\-]*" auto-validate error-message='This cannot be right...' char-counter>
  </div>
</div>
