<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Home
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/card/main' data=components.text}}
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/card/main' data=components.buttons}}
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/card/main' data=components.toggles}}
  </div>
</div>
