<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Miscellaneous
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>
      Sliders
    </h4>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>

  </div>
</div>
