<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Miscellaneous
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>
      Sliders
    </h4>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/general/slider' data=components.slider}}
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/general/slider' data=components.pin}}
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/general/slider' data=components.markers}}
  </div>
</div>
