<h2>
  Text Input
</h2>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--3-col'>
    <div>Standard input with floating label</div>
    {{view 'components/text/input' data=components.one}}
  </div>
    <div class='mdl-cell mdl-cell--3-col'>
      <div>Password input </div>
      {{view 'components/text/input' data=components.password}}
    </div>
</div>
