<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Toggles
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/checkbox' data=components.standard}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/checkbox' data=components.disabled}}
  </div>
</div>
