@import "theme";

// TEXT CONTROL
.text-white {
  color: white;
}
.text-black {
  color: black;
}

body {
  height: 100%;

  paper-scroll-header-panel {
    height: 100%;
    #headerContainer {
      paper-toolbar {
        background: transparent;

        .toolbar-tools {
          .title {
            font-size: 40px;
            cursor: pointer;
            pointer-events: all;
          }
        }
      }
      #headerBg.paper-scroll-header-panel {
        background: linear-gradient(rgba($primary,0.6), rgba($primary,0.6)), url('../images/oldchicagomid.jpg');
        background-position: center bottom !important;
      }
      #condensedHeaderBg.paper-scroll-header-panel {
        background: $primary;
      }
    }
  }

  paper-card.home-card {
    div.header.paper-card {
      height: 200px;
    }
  }

  .blue_grey {
    background: $paper-blue-grey-500 !important;
  }

  paper-spinner.cjd-spinner {
    #spinnerContainer {
      .spinner-layer.paper-spinner {
        border-color: $accent;
      }
    }
  }
}
