body {
  height: 100%;

  paper-scroll-header-panel {
    height: 100%;
    #headerContainer {
      paper-toolbar {
        background: transparent;

        .toolbar-tools {
          .title {
            font-size: 40px;
          }
        }
      }
      #headerBg.paper-scroll-header-panel {
        background: linear-gradient(rgba(96,125,139,0.6), rgba(96,125,139,0.6)), url('../images/oldchicagomid.jpg');
        background-position: center bottom !important;
      }
      #condensedHeaderBg.paper-scroll-header-panel {
        background: rgb(96,125,139);
      }
    }
  }
}
