@import "colors";
$primary: $paper-blue-grey-500;
$accent: $paper-orange-500;

// STANDARD COLORS
.background-primary {
  background-color: $primary;
}
.background-accent {
  background-color: $accent;
}
.color-primary {
  color: $primary;
}
.color-accent {
  color: $accent;
}
