<paper-input {{{display.attrs}}}>
  {{#if data.icon_prefix}}
  <iron-icon icon="{{data.icon_prefix}}" prefix>
  </iron-icon>
  {{/if}}
  {{#if data.text_suffix}}
  <div suffix>
    {{data.text_suffix}}
  </div>
  {{/if}}
  {{#if data.icon_suffix}}
  <iron-icon icon="{{data.icon_suffix}}" suffix>
  </iron-icon>
  {{/if}}
</paper-input>
