<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>
    <iron-icon icon="{{data.icon}}"></iron-icon>
  </div>
  <div class='mdl-cell mdl-cell--7-col'>
    <span>{{data.text}}</span>
  </div>
  <div class='mdl-cell mdl-cell--4-col'>
    {{view 'components/toggles/checkbox' data=components.checkbox}}
  </div>
</div>
